@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Inter";
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 640px) {
  .container {
    max-width: 640px;
    margin: 0 auto;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1150px;
    margin: 0 auto;
  }
}

.position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px #f3673e;
}

::-webkit-scrollbar-thumb {
  background-color: #f3673e;
}
